.m-0 {
  margin: 0; }

.m-t-5 {
  margin-top: 5px; }

.m-b-5 {
  margin-bottom: 5px; }

.m-l-5 {
  margin-left: 5px; }

.m-r-5 {
  margin-right: 5px; }

.m-t-10 {
  margin-top: 10px; }

.m-b-10 {
  margin-bottom: 10px; }

.m-l-10 {
  margin-left: 10px; }

.m-r-10 {
  margin-right: 10px; }

.m-t-15 {
  margin-top: 15px; }

.m-b-15 {
  margin-bottom: 15px; }

.m-l-15 {
  margin-left: 15px; }

.m-r-15 {
  margin-right: 15px; }

.p-0 {
  padding: 0; }

.p-t-5 {
  padding-top: 5px; }

.p-b-5 {
  padding-bottom: 5px; }

.p-l-5 {
  padding-left: 5px; }

.p-r-5 {
  padding-right: 5px; }

.p-t-10 {
  padding-top: 10px; }

.p-b-10 {
  padding-bottom: 10px; }

.p-l-10 {
  padding-left: 10px; }

.p-r-10 {
  padding-right: 10px; }

.p-t-15 {
  padding-top: 15px; }

.p-b-15 {
  padding-bottom: 15px; }

.p-l-15 {
  padding-left: 15px; }

.p-r-15 {
  padding-right: 15px; }

.m-t-35 {
  margin-top: 35px; }

.m-t-50 {
  margin-top: 50px; }

.m-t-100 {
  margin-top: 100px; }

.p-t-35 {
  padding-top: 35px; }

.p-t-50 {
  padding-top: 50px; }

.p-t-100 {
  padding-top: 100px; }

.text-black {
  color: black; }

.text-white {
  color: white; }

.text-red {
  color: red; }

.text-grey {
  color: grey; }

.zero-auto {
  margin: 0 auto; }

@font-face {
  font-family: FontAwesome;
  src: url(../../public/assets/fonts/FontAwesome.otf); }

.login-wrapper {
  width: 400px;
  margin: 0 auto; }

.dash-wrapper {
  background: #faebd79e; }

.dash-nav-wrapper {
  background-image: url("../../public/assets/images/dash-nav-background.png"); }

.dash-nav-bar {
  list-style-type: none;
  margin: 0 0 10px;
  padding: 0;
  overflow: hidden; }
  .dash-nav-bar .dash-nav-elements {
    float: left; }
    .dash-nav-bar .dash-nav-elements a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none; }
    .dash-nav-bar .dash-nav-elements a:hover:not(.active) {
      background-color: peachpuff; }
  .dash-nav-bar .active {
    background-color: #4CAF50; }

.dash-numeric-tile {
  width: 24%;
  min-height: 80px;
  margin-right: 15px; }
  .dash-numeric-tile:last-child {
    margin-right: 0px; }

.tile-gradient1 {
  border: 1px solid;
  opacity: 1;
  padding: 0px;
  border-width: 0px;
  border-radius: 0px;
  border-color: #c8c8c8;
  border-style: solid;
  background-color: transparent;
  background-image: linear-gradient(45deg, #622774 2%, #c53364 102%);
  background-size: auto;
  background-repeat: repeat;
  background-position: center center; }

.tile-gradient2 {
  opacity: 1;
  padding: 0px;
  border-width: 0px;
  border-radius: 0px;
  border-color: #c8c8c8;
  border-style: solid;
  background-color: transparent;
  background-image: linear-gradient(45deg, #f54ea2 4%, #ff7676 104%, #f62459 104%);
  background-size: auto;
  background-repeat: repeat;
  background-position: center center; }

.tile-gradient3 {
  opacity: 1;
  padding: 0px;
  border-width: 0px;
  border-radius: 0px;
  border-color: #c8c8c8;
  border-style: solid;
  background-color: transparent;
  background-image: linear-gradient(45deg, #17ead9 2%, #6078ea 102%);
  background-size: auto;
  background-repeat: repeat;
  background-position: center center; }

.tile-gradient4 {
  opacity: 1;
  padding: 0px;
  border-width: 0px;
  border-radius: 0px;
  border-color: #c8c8c8;
  border-style: solid;
  background-color: transparent;
  background-image: linear-gradient(45deg, #bf55ec 2%, #6094ea 102%);
  background-size: auto;
  background-repeat: repeat;
  background-position: center center; }

body {
  background-image: url("../../public/assets/images/2.jpg"); }

.landing-nav-bar {
  list-style-type: none;
  margin: 0 0 10px;
  padding: 0;
  overflow: hidden;
  background-color: #333; }
  .landing-nav-bar .landing-nav-elements {
    float: left; }
    .landing-nav-bar .landing-nav-elements a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none; }
    .landing-nav-bar .landing-nav-elements a:hover:not(.active) {
      background-color: #111; }
  .landing-nav-bar .active {
    background-color: #4CAF50; }
