@import '../../public/assets/scss/partials/_spacings.scss';
@import '../../public/assets/scss/partials/_text-colors.scss';
@import '../../public/assets/scss/partials/_utilities.scss';

body {
  background-image: url('../../public/assets/images/playstation.png')
}

.nav-bar {
  list-style-type: none;
  margin: 0 0 10px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  .nav-elements {
    float: left;
    a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    a:hover:not(.active) {
      background-color: #111;
    }
  }
  .active {
    background-color: #4CAF50;
  }
}

@import 'Login.scss';
@import 'Dashboard.scss';

